<div>
  <%= avatar shout.user %>
  <%= link_to shout.username, shout.user %>
  <%= render shout.content %>
  <%= link_to shout do %>
    <%= time_ago_in_words(shout.created_at) %> ago
  <% end%>
  <%= like_button(shout) %>
<<<<<<< HEAD
</div>
=======
</div>
>>>>>>> f9a1717fcd482222802c02382cdabb4731fa47cd
